body{
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: hidden;
    /*background-image: url("../img/bg/antman.jpg");*/
}

.container{
    width: 23vw;
    height: 23vw;
    text-align: center;
    background-color: rgba(52, 73, 94, 0.7);
    border-radius: 4px;
    margin:0 auto;
    margin-top: 7.5vw;
}

.container img{
    width: 10vw;
    height: 10vw;
    margin-top: -4vw;
    margin-bottom: 4vw;
    border-radius: 50%;
}

input[type="text"], input[type="password"]{
    height: 2.5vw;
    width: 15vw;
    font-size: 18px;
    margin-bottom: 0.5vw;
    padding-left: 1.5vw;
    background-color: #FFFFFF;
}

a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
}

a:hover{
    text-decoration: underline;
    color: white;
    font-size: 18px;
}